/*===================================
=            Lista Shots            =
===================================*/
  .sectionShots{
    background: #f4f4f4
  }
  .listaShots{
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    display: flex;
    flex-wrap: wrap;
  }
  .itemShot{
    padding: 15px;
    width: 20%;
  }
  .borderItemShot{
   position: relative;
   clear: left;
   background: #fff;
   border-radius: 2px;
   box-shadow: 0 1px 2px rgba(0,0,0,0.07);
  }
  .shotMain{
    padding: 10px;
    position: relative;
  }
  .boxShotHouver strong{
    display: block;
    margin: 0 25px 4px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    color: #444;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .shotImg {
    position: relative;
  }
  .boxShotHouver{
    background-color: rgba(255, 255, 255, .8);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    transition-delay: .1s;
    width: 100%;
    height: 100%;
    padding: 15px;
  }
  .linkShotHover,
  .boxShotHouver,
  .linkShotHover:hover,
  .boxShotHouver:hover{
    cursor: pointer;
    text-decoration: none
  }
  .shotImg:hover>.boxShotHouver {
    opacity: 1;
    visibility: visible
  }
  .descriptionShot{
    display: block;
    margin: 0 0 10px 0;
    font-size: 11px;
    line-height: 1.4;
    color: #777;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .tools{
    padding: 0;
    margin: 0;
    list-style: none;
    display: table;
    text-align: left;
    color: #bbb;
    font-size: 11px;
    margin-top: 10px;
    display:flex;justify-content:flex-end;align-items:center;
  }
  .tools li{
    display: inline-flex;
    margin-left: 5px; 
  }
  .iconNav{
    fill: #bbb;
    width: 16px;

    margin-right: 5px;
    height: 16px;
  }
  .fav SVG:hover{
    fill: #ec4989;
  }
  .cmnt SVG:hover{
    fill: #4080ff
  }
  .views SVG:hover{
    fill: #00bfa5
  }
  .boxAvatarAuthor{
    width: 16px;
    height: 16px;
    float: left;
    margin:1px 5px 0 0;
  }
  .boxNameAuthor h3{
    font-size: 15px;
    font-weight: 500;
    color: #1e6189;
    line-height: 18px;
    margin: 10px 0 0;
  }
  .boxShotModal{
    min-height: 300px;
    margin: 0 0 30px 0;
    padding: 20px;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07);
  }
  .shotModal .headerShotModal .boxNameShots{
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
  }
  .shotModal .headerShotModal .boxAvatarAuthor{
    width: 48px;
    height: 48px;
    float: left;
    margin:1px 5px 0 0;
  }
  .animatefalse{
    display: none;
  }
  .animatetrue{
    width: 24px;
    height: 24px;
    display: block;
    position: absolute;
    top: 0;
    right: 5px;
    fill: rgba(255,255,255,0.6);
    stroke: #444;
    stroke-width: 1;
  }
/*=====  End of Lista Shots  ======*/