<div class="group">
  <div class="borderItemShot">
    <div class="shotMain">
      <div class="shotImg">
        <a class="linkShotHover">
          <picture>
            <source ng-srcset="{{ shot.images.hidpi }}" media="(min-width: 600px)">
            <source ng-srcset="{{ shot.images.teaser }}" media="(min-width: 768px)">
            <source ng-srcset="{{ shot.images.normal }}" media="(min-width: 992px)">
            <img class="img-responsive" alt="{{ shot.title }}" ng-srcset="{{ shot.images.normal }}">
          </picture>
        </a>
        <svg ng-class="{ 'animatetrue': shot.animated , 'animatefalse': !shot.animated  }">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#iconGif"></use>
        </svg>
        <a class="boxShotHouver"  data-iziModal-open="#{{shot.id}}">
          <strong>{{ shot.title }}</strong>
          <span class="descriptionShot">
            {{ shot.description | removeHTMLTags |readMore: 140 }}
          </span>
        </a>
      </div>
      <ul class="tools">
        <li class="views">
          <svg class="iconNav">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#view"></use>
          </svg>
          <span>{{ shot.views_count }}</span>
        </li>
        <li class="cmnt">
          <svg class="iconNav">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#comments"></use>
          </svg>
          <span original-title="">{{ shot.comments_count }}</span>
        </li>
        <li class="fav">
          <svg class="iconNav">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#like"></use>
          </svg>
          <span >{{ shot.likes_count }}</span>

        </li>
      </ul>
    </div>
  </div>
  <div class="boxAuthor">
    <div class="boxAvatarAuthor">
      <img class="img-responsive img-circle" alt="{{ shot.title }}" ng-srcset="{{shot.user.avatar_url}}">
    </div>
    <div class="boxNameAuthor">
      <h3>{{shot.user.name }}</h3>
    </div>
  </div>
</div>
<div id="{{shot.id}}" class="shotModal" data-izimodal-group="shots">
  <a href="javascript:void(0)" class="btnCloseModal" data-izimodal-close=""></a>


  <header class="headerShotModal">
    <div class="boxAuthor">
      <div class="boxAvatarAuthor">
        <img class="img-responsive img-circle" alt="{{ shot.title }}" ng-srcset="{{shot.user.avatar_url}}">
      </div>
      <div class="boxNameShots">
        <h3>{{ shot.title }}</h3>
      </div>
      <div class="boxNameAuthor">
        <h3>by <span>{{shot.user.name}}</span> on <span>{{shot.created_at | date}}</span></h3>
      </div>
    </div>
  </header><!-- /header -->

  <div class="row">
    <div class="shotZoom col-md-9">
      <div class="boxShotModal">
        <img  class="img-responsive" alt="{{ shot.title }}" ng-srcset="{{ shot.images.hidpi }}">
      </div>
    </div>
    <div class="col-md-3">
        <ul class="tools">
          <li class="views">
            <svg class="iconNav">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#view"></use>
            </svg>
            <span>{{ shot.views_count }}</span>
          </li>
          <li class="cmnt">
            <svg class="iconNav">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#comments"></use>
            </svg>
            <span original-title="">{{ shot.comments_count }}</span>
          </li>
          <li class="fav">
            <svg class="iconNav">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#like"></use>
            </svg>
            <span>{{ shot.likes_count }}</span>
          </li>
        </ul>
    </div>
  </div>
</div>